h2.entete{
    font-size: 200%;
    font-family: 'Times New Roman';
    font-weight: bold;
    margin-bottom: -15px;
}
.info{
    margin-top: -40px;
    float : right;
}
.sub{
    text-align: center;
    font-size: 150%;
    margin-top: 85px;
    margin-bottom: -30px;
}
.sub1{
    text-align: center;
    font-size: 150%;
    margin-bottom: -10px;
}
.subT{
    font-weight: bold;
    font-style: italic;
    
    margin-bottom: -10px;
}
.date{
    float: right;
    margin-top: -10px;
    margin-bottom: 10px;
}
*{
    text-align: left;
}
.smallDiv{
    text-align: center;
    width: 60%; 
    padding: 10px;
    margin: 0 auto;
}
body{
    background-image: url(images.jpeg);
    background-size: cover;
}
